<div class="jumbotron">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-lg-6 text-center">
        <img src="../../../assets/web_hi_res_512.png" alt="Blackjack Image" height="192" width="192">
      </div>
      <div class="col-lg-6 text-center">
        <h2>Links to github and Google play store</h2>
        <br>
        <div class="col-lg-12 text-center">
          <a href="https://github.com/g-ace-k/blackjack" class="btn btn-info">Github Repository</a>
        </div>
        <br>
        <div class="col-lg-12 text-center">
          <a href="https://play.google.com/store/apps/details?id=com.mikegacek.blackjack" class="btn btn-primary">Play Store</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <h1>A quick summary of this mobile app.</h1>
    <p class="text-left">This mobile app was created in Android Studio, using a custom framework and openGL for graphics. I decided to go this route because one I never planned on making
      really large and complex apps that could benefit from frameworks already out there like Unity or LibGDX that would add a lot of unneccessary weight to the app, and two I
      wanted to see if I could make a native app from scratch. The game is essentially run by going through a general update and present method, and then depending on the 1 of 6 states of the game
      runs seperate updates and present methods to detect touch presses and updates based on the touchpoint. All artwork and sounds were also created by me, which was probably the hardest
      part in making this app, as I am not really a graphic or sound artist.  With a custom framework only adding everything that is neccessary to run the game, 
      it clocks in to a little under 33 MBs in size, compared to similar blackjack apps that can be as much as 100 MBs. Watch the video below for a quick look at the gameplay. 
    </p>
  </div>
  <br>
  <br>
  <div class="text-center" >
  <h1>What you will find in this web app.</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4">
      <h2>Framework and OpenGl</h2>
      <p>Handles quick drawing of all assets, checks for touch responses, easy to use for any future apps, less overhead than other frameworks, and much more.</p>
    </div>
    <div class="col-lg-4">
      <h2>Object Serialization</h2>
      <p>Quick saving and loading of the data manager objects that allows the game state to persist whenever the app is paused, closed, or exited</p>
    </div>
    <div class="col-lg-4">
      <h2>Google Firebase</h2>
      <p>Firebase integration provides detailed anayltics to your app.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Quality App</h2>
      <p>A blackjack app that peaked in the top 16, currently in the top 36 when searching for blackjack, and rated at 4.23 stars.</p>
    </div>
    <div class="col-lg-4">
      <h2>Customizable game</h2>
      <p>A blackjack app that doesn't adhere to a specific ruleset, but has many different settings to allow one to play the blacjack game they are most familiar with.</p>
    </div>
    <div class="col-lg-4">
      <h2>Google Admob</h2>
      <p>Admob integration shows video and rewarded interstitial ads in the game.</p>
    </div>
  </div>
  <br>
  <br>


</div>

<div class="container">
  <div class="row">
    <iframe style="margin-bottom:20px;" width="100%" height="600px" src="https://www.youtube-nocookie.com/embed/hvn3mz7HWi8?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>