<div class="jumbotron specialJumbotron">
  <div class="container">
    <div class="col-lg-6 text-center">
      <img src="../../../assets/sxu.png" alt="SXU Image" height="186" width="318">
    </div>
    <div class="col-lg-6 text-center">
      <h2>Links to github and dev site</h2>
      <br>
      <div class="row">
        <a href="https://github.com/g-ace-k/classWebsite" class="btn btn-info">Github Repository</a>
      </div>
      <br>
      <div class="row">
        <a href="https://csmaster.sxu.edu/1pet1vet/login.php" class="btn btn-primary">Dev site</a>
      </div>
      <br>
      <div class="row text-left">
        <div class="col-lg-6">
          <p>User Login: mikegacek</p>
          <p>User password: abc123</p>
        </div>
        <div class="col-lg-6">
          <p>Admin Login: ktaylor</p>
          <p>Admin password: 123456</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <h1>A summary of the work I did</h1>
    <p class="text-left"> This website was written in PHP and javascript, and uses ajax for http requests. I initially started on working on mapping an ER diagram and relational schema. I then helped in setting up the backend of the website by creating some of the DAO's, model classes
      and service classes. I worked on some frontend as well, mainly of the page that displays the videos with access depending on which user is accessing it. I created a javascript file that
      would allow the carousel, where the videos were being displayed, to rotate to the correct video when clicked through the dropdown menu. It also unloaded all videos that weren't being displayed
      to reduce overhead on the page. Finally I worked on making an exportable excel spreadsheet whenever admins wanted to save any query searches in the database.
    </p>
  </div>
  <br>
  <br>
  
  <div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>

