.flashMessage {
    color: red;
}
.main-container {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 100%;
  width: 100%;
}
.flash {
    position:fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}
