<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Project Manager</a>
        <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>

         <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="!isExpanded">
            <ul class=" nav navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/']">Home</a></li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Other Projects</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
                        <li><a class="dropdown-item" [routerLink]="['/blackjack']">Blackjack Android App</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/classWebsite']">Class Website</a></li>
                    </div>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/about']">About</a></li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
                <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
                <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>




